.accordion {
    width: 100%;

    &-head {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 50px;
        padding: 0 20px;
        border: 1px solid rgba($color: #000000, $alpha: .2);
        color: $dark;
        cursor: pointer;
        &--active {
            color: $primary;
        }
    }
    
    &-content {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity .5s, max-height .7s padding .1s;
        background-color: #fff;
        border: 1px solid rgba(224, 211, 211, 1);
        border-top: none;
        border-radius: 0 0 4px 4px;
        &--active {
            overflow: visible;
            opacity: 1;
        }
    }

    &-inner {
        display: block;
        padding: 20px;
    }
}